<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://i.pinimg.com/originals/18/99/ed/1899ed4d170474dea9d7f476e47563f8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Athul</h5>
                          <p class="card-text">101</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://wallpapercave.com/wp/wp7138956.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ananya</h5>
                          <p class="card-text">102</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://images.unsplash.com/photo-1582233479366-6d38bc390a08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFjZXN8ZW58MHx8MHx8&w=1000&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Vimal</h5>
                          <p class="card-text">103</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://i.pinimg.com/1200x/b4/f4/bd/b4f4bd46152dea4fc5c2d1f5ee56b255.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Malar</h5>
                          <p class="card-text">104</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://i.pinimg.com/474x/9b/66/c1/9b66c100b00f1a4936204e11f6a6df0a.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Nayanthara</h5>
                          <p class="card-text">105</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://wallpaperaccess.com/full/3593501.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lalettan</h5>
                          <p class="card-text">106</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://wallpapercave.com/wp/wp6543005.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dulkar</h5>
                          <p class="card-text">107</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://i.pinimg.com/564x/f4/b1/a1/f4b1a1f1f48556b83691ad2a526cd591.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Asif</h5>
                          <p class="card-text">108</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://w0.peakpx.com/wallpaper/300/53/HD-wallpaper-prithviraj-actor-malayalam-thumbnail.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pritviraj</h5>
                          <p class="card-text">109</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="500" src="https://i.pinimg.com/originals/b6/42/c8/b642c8088dfea320e2748b3163591456.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mammootty</h5>
                          <p class="card-text">110</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
